.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.card {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  margin: 60px 0;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  height: 400px;
  max-width: 80%;
  background: var(--elements);
  border-radius: 30px;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-left {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 20px 0px 20px 60px;
}

.card .card-left h3 {
  background: var(--h1-clr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 229, 229);
  padding: 17px 60px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: #9d9d9d;
  transition: transform 0.6 ease;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);
}

.card-left p {
  font-size: 0.9rem;
  font-weight: 400;
  width: 70%;
  color: var(--p-clr);
}

.fa-arrow-right {
  font-size: 1.4rem;
  margin: 0 10px;
  color: #9d9d9d;
  transition: transform 0.7s ease;
}

.learn-more:hover .fa-arrow-right {
  transform: translateX(5px);
}

@media only screen and (max-width: 970px) {
  /* GENERAL STYLES */
  .card-left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 40px 10px;
    padding: 20px 0;
  }
  .card .card-left h3 {
    font-size: 1.3rem;
  }
  .learn-more {
    padding: 17px 30px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-left p {
    font-size: 0.9rem;
    font-weight: 400;
    width: 90%;
  }
  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin: 30px 0;
    max-width: 80%;
    height: 40vh;
  }
  .card img {
    display: none;
  }
}
header {
  top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* outline: 1px solid springgreen; */
  position: fixed;
  z-index: 25;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle {
  width: 650px;
  height: 65px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: var(--elements);
  border-radius: 50%;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
}

ul {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: var(--elements);
  border-radius: 40px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
  z-index: 10;
  /* overflow: hidden; */
}

ul li {
  width: 160px;
  list-style: none;
  cursor: pointer;
}

ul li a {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: var(--p-clr);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.5s;
}

.active {
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

ul li a:hover {
  color: var(--a-hover);
}

.slide {
  position: absolute;
  width: 150px;
  cursor: pointer;
  height: 50px;
  background: rgb(124, 64, 64);
  margin: 0 10px;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 30px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.07);
}

ul li:nth-child(1).active ~ .slide {
  left: -1px;
  opacity: 1;
}

ul li:nth-child(2).active ~ .slide {
  left: 153px;
  opacity: 1;
}

ul li:nth-child(3).active ~ .slide {
  left: 314px;
  opacity: 1;
}

ul li:nth-child(4).active ~ .slide {
  left: 472px;
  opacity: 1;
}

ul li:nth-child(5).active ~ .slide {
  left: 630px;
  opacity: 1;
}

:root {
  margin: 0;
  --background: #f6f6f6;
  --p-clr: #707070;
  --elements: #eeeeee;
  --h1-clr: linear-gradient(140deg, #232526 0%, #646464 61%, #414345 100%);
}

* {
  padding: 0;
  margin: 0;
}

.darkmode {
  --background: #262626;
  --p-clr: #e5e5e5;
  --elements: #212121;
  --h1-clr: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
}

body {
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  transition: background 1s ease;
}

p {
  color: #ffffff;
}