:root {
  margin: 0;
  --background: #f6f6f6;
  --p-clr: #707070;
  --elements: #eeeeee;
  --h1-clr: linear-gradient(140deg, #232526 0%, #646464 61%, #414345 100%);
  --hover: #121212;
  --slide: #ffffff;
  --elements-2: #f6f6f6;
  --elements-3: #e2e2e2;
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.darkmode {
  --background: #262626;
  --p-clr: #efefef;
  --elements: #212121;
  --h1-clr: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
  --hover: #b2b2b2;
  --elements-2: #1a1a1a;
  --slide: #2d2b2b;
  --elements-3: #5f5f5f;
}

body {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  transition: background 1s ease;
}

header {
  top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 100;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.middle {
  width: 650px;
  height: 65px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: var(--elements-2);
  border-radius: 50%;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
  transition: background 1s ease;
}

.middle ul {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: var(--elements-2);
  border-radius: 40px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
  transition: background 1s ease;
  /* overflow: hidden; */
}

.middle ul li {
  width: 160px;
  list-style: none;
  cursor: pointer;
}

.middle ul li a {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: var(--p-clr);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.5s;
}

.active {
  background: var(--h1-clr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.middle ul li a:hover {
  color: var(--hover);
}

.slide {
  position: absolute;
  width: 150px;
  cursor: pointer;
  height: 50px;
  background: var(--slide);
  margin: 0 10px;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 30px;
}

.middle ul li:nth-child(1).active ~ .slide {
  left: -1px;
  opacity: 1;
}

.middle ul li:nth-child(2).active ~ .slide {
  left: 153px;
  opacity: 1;
}

.middle ul li:nth-child(3).active ~ .slide {
  left: 314px;
  opacity: 1;
}

.middle ul li:nth-child(4).active ~ .slide {
  left: 472px;
  opacity: 1;
}

.middle ul li:nth-child(5).active ~ .slide {
  left: 630px;
  opacity: 1;
}

.dark-mode-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
}

.moon {
  color: var(--p-clr);
  font-size: 2rem;
  display: block;
}

.darkmode .moon {
  display: none;
}

.sun {
  color: var(--p-clr);
  font-size: 2rem;
  display: none;
}

.darkmode .sun {
  display: block;
}

.hidden {
  display: none;
  opacity: 0;
}

.bar1,
.bar2,
.bar3 {
  background-color: var(--p-clr);
  height: 4px;
  width: 30px;
  margin: 3px;
  border-radius: 10px;
}

.mobile-nav {
  position: absolute;
  top: 90px;
  right: 15%;
  width: 250px;
  background: var(--elements-2);
  border-radius: 30px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
  transition: transform 1s ease;
  display: flex;
  align-items: flex end;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;
}

.mobile-nav ul {
  padding: 10px;
}

.mobile-nav ul li {
  list-style: none;
  padding: 5px 0;
  text-decoration: none;
}

.mobile-nav ul li a {
  font-size: 1.12rem;
  text-decoration: none;
  color: #5e5e62;
}

.mobile-nav ul li i {
  font-size: 1.12rem;
  margin: 0 10px 0 0px;
  text-decoration: none;
  color: #5e5e62;
}

.mobile-nav span {
  width: 100%;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin: 15px 0;
}

#dark-mode-btn2 {
  transition: opacity 0.9s ease;
  font-size: 1.5rem;
}

#dark-mode-btn2 i {
  font-size: 1.5rem;
}

.animateBar1 {
  animation: flipBar1 0.5s forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}

.animateBar3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(5px, 5px);
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
.slide-out {
  visibility: visible;
  transform: translateY(5px);
}

.slide-in {
  visibility: hidden;
  transform: translateY(5px);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 300px;
  margin-bottom: 300px;
}

.fa-solid {
  padding-right: 10px;
  color: var(--p1-clr);
}

.location {
  margin: 20px;
  white-space: nowrap;
  font-size: 1.25rem;
}

.location p {
  display: inline-block;
}

.hero h1 {
  font-size: 6rem;
  display: block;
  margin-top: 50px;
  color: #333333;
  letter-spacing: -1.25px;
  background-image: var(--h1-clr);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.icon {
  width: 50%;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
  color: var(--p-clr);
}

.hero p {
  font-size: 1.15rem;
  margin: 40px 0px;
  width: 60%;
  text-align: center;
  color: var(--p-clr);
}

.hero p a {
  text-decoration: none;
  color: var(--p-clr);
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 20px;
  transition: color 0.6s ease, background-color 0.6s ease;
}

.hero p a:hover {
  color: #fff;
  padding: 3px 5px;
  background-color: #7d7d7d;
}

/* MEMOJI - MAIN  */
.memoji-wrap {
  width: 180px;
  height: 180px;
  /* background: var(--memoji-bg); */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: circle(50%);
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 0 10px 0 rgba(74, 74, 74, 0.12);
}

#memoji-container {
  position: relative;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
  width: 150px;
  left: 3px;
  top: 5px;
}

#product-svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: darken;
}

#product-shape {
  fill: #35edd1;
  opacity: 0.7;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.scroll-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  opacity: 1;
  border-radius: 50%;
}

.fa-solid {
  color: lightgray;
  padding: 0;
}

.fa-chevron-down {
  animation: arrowDown 1s infinite linear;
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
#thanks {
  transition: all 1.1s ease-in-out;
  opacity: 0;
  z-index: -30;
}

#thanks p {
  color: var(--p-clr);
  background-color: var(--elements-2);
  display: inline;
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
}

.is-hidden {
  transition: all 0.7s ease-in-out;
  opacity: 0;
}

.is-visible {
  opacity: 0.95;
  transition: all 0.7s ease-in-out;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.card {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  margin: 60px 0;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  height: 400px;
  max-width: 90%;
  background: var(--elements);
  border-radius: 30px;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-left {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 20px 0px 20px 60px;
}

.card .card-left h3 {
  background: var(--h1-clr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 229, 229);
  padding: 17px 60px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: #9d9d9d;
  transition: transform 0.6 ease;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);
}

.card-left p {
  font-size: 0.9rem;
  font-weight: 400;
  width: 70%;
  color: var(--p-clr);
}

.fa-arrow-right {
  font-size: 1.4rem;
  margin: 0 10px;
  color: #9d9d9d;
  transition: transform 0.7s ease;
}

.learn-more:hover .fa-arrow-right {
  transform: translateX(5px);
}

@media only screen and (max-width: 970px) {
  /* GENERAL STYLES */
  .card-left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 40px 10px;
    padding: 20px 0;
  }
  .card .card-left h3 {
    font-size: 1.3rem;
  }
  .learn-more {
    padding: 17px 30px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-left p {
    font-size: 0.9rem;
    font-weight: 400;
    width: 90%;
  }
  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin: 30px 0;
    max-width: 80%;
    height: 40vh;
  }
  .card img {
    display: none;
  }
}
footer {
  width: 100%;
  height: 10vh;
  padding: 30px 0;
  bottom: 0;
  clear: both;
  background: var(--elements-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  margin: 30px 0;
  font-size: 1.5rem;
}

.footer-top a {
  color: var(--p-clr);
}

.footer-middle {
  font-size: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 60%;
}

.img-frames {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-frames img {
  width: 20%;
  border-radius: 30px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);
}

.wrap-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  padding: 0 30px;
}

.main-about p {
  font-size: 1.1rem;
  color: var(--p-clr);
  width: 90%;
  line-height: 35px;
  display: block;
}

.main-about h1 {
  margin: 30px 0;
  font-size: 2.4rem;
  background-image: var(--h1-clr);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#about-img1 {
  position: relative;
  transform: rotate(3deg);
  left: 20px;
  z-index: -1;
}

#about-img2 {
  position: relative;
  width: 25%;
  transform: rotate(-3deg);
  z-index: 3;
}

#about-img3 {
  position: relative;
  transform: rotate(-6deg);
  right: 20px;
  z-index: -1;
}

.container span {
  width: 100%;
  margin: 40px 0;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.tech-stack h3 {
  color: #797979;
  opacity: 0.9;
  font-size: 1.4rem;
  font-weight: 400;
  transition: color 1s;
}

#tech-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 60px;
  align-items: center;
  width: 90%;
  margin: 30px 0;
}

.tech-stack img {
  width: 80px;
  height: 80px;
  transition: all 0.3s ease-in;
  opacity: 0.5;
  filter: grayscale(100%);
}

#javascript {
  width: 60px;
  height: 60px;
}

.tech-stack img:hover {
  transform: scale(1.15);
  opacity: 1;
  filter: grayscale(0);
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip::before {
  content: attr(data-tooltip);
  font-size: 0.9rem;
  position: absolute;
  text-align: center;
  margin-bottom: 15%;
  bottom: 100%;
  width: 80%;
  background: var(--elements-3);
  padding: 5px 10px;
  opacity: 0;
  color: var(--p-clr);
  z-index: 5;
  border-radius: 5px;
  transition: 1s opacity;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}

.container-locked {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 60%;
  height: 55vh;
}

.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lock i {
  font-size: 6rem;
  margin-bottom: 100px;
}

.lock p {
  font-size: 1rem;
  color: var(--p-clr);
}

.lock a {
  text-decoration: none;
  color: var(--p-clr);
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 20px;
  transition: color 0.6s ease, background-color 0.6s ease;
}

.lock p a:hover {
  color: #fff;
  padding: 3px 5px;
  background-color: #7d7d7d;
}

.circle-locked {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--elements);
  border-radius: 50%;
  height: 550px;
  width: 550px;
  transition: background 1s ease;
}

.container-locked input {
  margin: 40px 0;
  color: #7d7d7d;
  width: 100%;
  height: 50px;
  font-size: 100%;
  border-radius: 30px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 60%;
  height: 55vh;
}

.contact-form {
  width: 80%;
  height: 550px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: var(--elements);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
}

form {
  width: 80%;
  height: 550px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#name,
#subject,
#email {
  background-color: var(--elements);
  width: 40%;
  height: 2.5rem;
  color: var(--p-clr);
  font-size: 1.15rem;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
}

#message {
  color: var(--p-clr);
  background-color: var(--elements);
  resize: none;
  width: 60%;
  height: 200px;
  font-size: 1.15rem;
  border-radius: 50px;
  padding: 30px 20px;
  border: none;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
}

.button {
  --color: #fff;
  --background: #7b7b7b;
  --height: 50px;
  --width: 160px;
  --icon: #1ab873;
  padding: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  width: var(--width);
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color);
  line-height: var(--height);
}

.button:before,
.button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.button:before {
  transform: translate(-50%, -50%);
  width: var(--before-w, var(--width));
  height: var(--before-h, var(--height));
  border-radius: var(--before-r, 7px);
  background: var(--background);
  transform-origin: 50% 50%;
  transition: width 0.3s, height 0.3s, border-radius 0.2s;
  transition-delay: 0.2s;
}

.button:after {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: var(--icon);
  z-index: 2;
  border-radius: 50%;
  transform: scale(0);
}

.button span {
  z-index: 1;
  display: block;
  position: relative;
  opacity: var(--span-o, 1);
  transform: scale(var(--span-s, 1));
  transition: opacity 0.3s, transform 0.2s;
  transition-delay: 0.2s;
}

.button svg {
  width: 15px;
  height: 13px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  stroke: var(--icon);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transform: translate(-50%, -50%);
  stroke-dasharray: 17px;
  stroke-dashoffset: var(--svg-o, 17px);
  transition: stroke-dashoffset 0.3s ease;
}

.button.processing {
  --before-w: 41px;
  --before-h: 41px;
  --before-r: 22px;
  --span-o: 0;
  --span-s: 0.6;
  --after-s: 1;
  --svg-o: 34px;
}

.button.processing:before {
  -webkit-animation: pulse 3s linear forwards;
  animation: pulse 3s linear forwards;
}

.button.processing:after {
  -webkit-animation: dot 3s linear forwards;
  animation: dot 3s linear forwards;
}

.button.processing svg {
  transition-delay: 3s;
}

@-webkit-keyframes pulse {
  4% {
    transform: translate(-50%, -50%) scaleX(1.1);
  }
  8% {
    transform: translate(-50%, -50%);
  }
  24%, 56%, 88% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  40%, 72% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@keyframes pulse {
  4% {
    transform: translate(-50%, -50%) scaleX(1.1);
  }
  8% {
    transform: translate(-50%, -50%);
  }
  24%, 56%, 88% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  40%, 72% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@-webkit-keyframes dot {
  8% {
    transform: scale(0);
  }
  16% {
    transform: scale(1) rotate(30deg) translateX(48px);
  }
  95% {
    transform: scale(1) rotate(1000deg) translateX(48px);
  }
  100% {
    transform: scale(0.125) rotate(1050deg) translate(52px, -6px);
  }
}
@keyframes dot {
  8% {
    transform: scale(0);
  }
  16% {
    transform: scale(1) rotate(30deg) translateX(48px);
  }
  95% {
    transform: scale(1) rotate(1000deg) translateX(48px);
  }
  100% {
    transform: scale(0.125) rotate(1050deg) translate(52px, -6px);
  }
}