// flex-box
@mixin flex-center($center: center) {
  display: flex;
  justify-content: $center;
  align-items: $center;
}

//Misc

@mixin outline($outline-color: springgreen) {
  outline: 1px solid $outline-color;
}

@mixin gradient-l() {
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
