//Components colors L

$bg-l: #e6e7f0;
$bg-h: #565656;
$p-l: #707070;
$element-bg-l: #eeeeee;
$h1-l: linear-gradient(140deg, #232526 0%, #646464 61%, #414345 100%);
$hover-l: #121212;
$slide-l: #ffffff;
$element-2-l: #f6f6f6;
$element-3-l: #e2e2e2;
//Components colors D
$bg-d: #131313;
$p-d: #efefef;
$element-bg-d: #212121;
$h1-d: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
$hover-d: #b2b2b2;
$slide-d: #2d2b2b;
$element-2-d: #1a1a1a;
$element-3-d: #5f5f5f;
//variables

$font-l-g: #9d9d9d;
$font-color-light: #ffffff;
$p-font-size: 1.5rem;

//Shadows

$component-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.1);
$element-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);

//border

$radius30: 30px;
