//Components colors L

$bg-l: #f6f6f6;
$bg-h: #565656;
$p-l: #333333;
$element-bg-l: #eeeeee;
//Components colors D
$bg-d: #0262fe;
$p-d: #e5e5e5;
$element-bg-d: #323232;
//variables

$font-l-g: #9d9d9d;
$font-color-light: #ffffff;
$p-font-size: 1.5rem;

//Shadows

$component-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
$element-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);

//border

$radius30: 30px;
