// variables & functions
@import "variables";
@import "mixin";

:root {
  margin: 0;
  --background: #{$bg-l};
  --p-clr: #{$p-l};
  --elements: #{$element-bg-l};
  --h1-clr: #{$h1-l};
  --hover: #{$hover-l};
  --slide: #{$slide-l};
  --elements-2: #{$element-2-l};
  --elements-3: #{$element-3-l};
  --h2-clr: #{$h2-l};
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.darkmode {
  --background: #{$bg-d};
  --p-clr: #{$p-d};
  --elements: #{$element-bg-d};
  --h1-clr: #{$h1-d};
  --hover: #{$hover-d};
  --elements-2: #{$element-2-d};
  --slide: #{$slide-d};
  --elements-3: #{$element-3-d};
  --h2-clr: #{$h2-d};
}

body {
  color: $font-color-light;
  background: var(--background);
  font-size: $p-font-size;
  font-family: "Inter", sans-serif;
  transition: background 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

header {
  top: 50px;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

p a {
  text-decoration: none;
  color: var(--p-clr);
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 20px;
  transition: color 0.6s ease, background-color 0.6s ease;
}

p a:hover {
  color: #fff;
  padding: 3px 5px;
  background-color: #7d7d7d;
}

h3 {
  color: var(--h1-clr);
}

.heading h1 {
  background: var(--h2-clr);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// base & layout
@import "base";

// colors

// components
@import "components/header";
@import "components/hero";
@import "components/card";
@import "components/footer";
@import "components/about";
@import "components/tooltip";
@import "components/locked";
@import "components/contact";
@import "components/portfolio";
// utilities
