// variables & functions
@import "variables";
@import "mixin";
// base & layout
@import "base";

// colors

// components
@import "components/card";
@import "components/header";
// utilities

:root {
  margin: 0;
  --background: #{$bg-l};
  --p-clr: #{$p-l};
  --elements: #{$element-bg-l};
  --h1-clr: #{$h1-l};
}

* {
  padding: 0;
  margin: 0;
}

.darkmode {
  --background: #{$bg-d};
  --p-clr: #{$p-d};
  --elements: #{$element-bg-d};
  --h1-clr: #{$h1-d};
}

body {
  height: 100vh;
  color: $font-color-light;
  @include flex-center();
  background: var(--background);
  font-size: $p-font-size;
  font-family: "Inter", sans-serif;
  transition: background 1s ease;
}

p {
  color: $font-color-light;
}
