// variables & functions
@import "variables";
@import "mixin";

:root {
  margin: 0;
  --background: #{$bg-l};
  --p-clr: #{$p-l};
  --elements: #{$element-bg-l};
  --h1-clr: #{$h1-l};
  --hover: #{$hover-l};
  --slide: #{$slide-l};
  --elements-2: #{$element-2-l};
  --elements-3: #{$element-3-l};
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.darkmode {
  --background: #{$bg-d};
  --p-clr: #{$p-d};
  --elements: #{$element-bg-d};
  --h1-clr: #{$h1-d};
  --hover: #{$hover-d};
  --elements-2: #{$element-2-d};
  --slide: #{$slide-d};
  --elements-3: #{$element-3-d};
}

body {
  color: $font-color-light;
  @include flex-center();
  background: var(--background);
  font-size: $p-font-size;
  font-family: "Inter", sans-serif;
  transition: background 1s ease;
}

header {
  top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 100;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

// base & layout
@import "base";

// colors

// components
@import "components/header";
@import "components/hero";
@import "components/card";
@import "components/footer";
@import "components/about";
@import "components/tooltip";
@import "components/locked";
@import "components/contact";

// utilities
