.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 100%;
}

.img-frames {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.img-frames img {
  height: 400px;
  width: auto;
  border-radius: 30px;
  box-shadow: $element-shadow;
}

.wrap-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 780px;
  line-height: 170%;
  box-sizing: border-box;
  padding: 0 30px;
}

.main-about p {
  font-size: 1.11rem;
  color: var(--p-clr);
  max-width: 90%;
  line-height: 170%;
  display: block;
}

.main-about p ~ p {
  margin: 15px 0;
}

.h1-wrap-about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: 5% 0;
  font-size: 1.11rem;
  background-image: var(--h1-clr);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#about-img1 {
  position: relative;
  transform: rotate(3deg);
  left: 20px;
  z-index: -1;
}

#about-img2 {
  position: relative;
  transform: rotate(-3deg);

  z-index: 3;
}

#about-img3 {
  position: relative;
  transform: rotate(-6deg);
  right: 20px;
  z-index: -1;
}

.container span {
  //   border-bottom: 1px solid grey;
  width: 100%;
  margin: 40px 0;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 10px;
  //   @include outline(orange);
}

.tech-stack h3 {
  color: #797979;
  opacity: 0.9;
  font-size: 1rem;
  font-weight: 300;
  transition: color 1s;
}

#tech-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 60%;
  margin-top: 30px;
}

.tech-stack img {
  width: auto;
  height: 80px;
  transition: all 0.3s ease-in;
  opacity: 0.5;
  //   -webkit-filter: grayscale(80%);
  filter: grayscale(100%);
}

#javascript {
  width: 60px;
  height: 60px;
}

.tech-stack img:hover {
  transform: scale(1.15);
  opacity: 1;
  filter: grayscale(0);
}

@media only screen and (max-width: 600px) and (max-width: 780px) {
  .container {
    width: 100%;

    top: 100px;
  }
  .img-frames img {
    height: 200px;
    width: auto;
    border-radius: 12px;
    box-shadow: $element-shadow;
  }

  .main-about h1 {
    font-size: 1.6rem;
  }

  .main-about p {
    font-size: 1rem;
    color: var(--p-clr);
    width: 100%;
    line-height: 35px;
    display: block;
  }

  #tech-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .tech-stack img {
    width: auto;
    max-height: 50px;
  }
}

@media only screen and (min-width: 600px) {
  #tech-icons {
    gap: 20px;
  }
}
