.cards {
  width: 100%;
  @include flex-center();
  flex-direction: column;
  margin-top: 10%;
}

.card:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.card {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  margin: 60px 0;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  height: 400px;
  max-width: 90%;
  background: var(--elements);
  border-radius: $radius30;
  box-shadow: $component-shadow;
  overflow: hidden;
}

.card-left {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 20px 0px 20px 60px;
}

.card .card-left h3 {
  background: var(--h1-clr);
  @include gradient-l();
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 229, 229);
  padding: 17px 60px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: $font-l-g;
  transition: transform 0.6 ease;
  box-shadow: $element-shadow;
}

.card-left p {
  font-size: 0.9rem;
  font-weight: 400;
  width: 70%;
  color: var(--p-clr);
}

.fa-arrow-right {
  font-size: 1.4rem;
  margin: 0 10px;
  color: $font-l-g;
  transition: transform 0.7s ease;
}

.learn-more:hover .fa-arrow-right {
  transform: translateX(5px);
}

@media only screen and (max-width: 970px) {
  /* GENERAL STYLES */

  .card-left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 40px 10px;
    padding: 20px 0;
  }

  .card .card-left h3 {
    font-size: 1.3rem;
  }

  .learn-more {
    padding: 17px 30px;
    font-size: 1.1rem;
    @include flex-center();
  }

  .card-left p {
    font-size: 0.9rem;

    font-weight: 400;
    width: 90%;
  }

  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin: 30px 0;
    max-width: 80%;
    height: 40vh;
  }

  .card img {
    display: none;
  }
}
