.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 80%;
  min-height: 50vh;
  // @include outline(red);
}

#contact-heading {
  padding: 30px 0;
}

#contact-heading h1 {
  text-align: center;
  padding-bottom: 30px;
}

.heading p {
  color: var(--p-clr);
  font-size: 1rem;
}

.contact-form {
  width: 80%;
  height: 800px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: var(--elements);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
}

form {
  width: 80%;
  height: 550px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#name,
#subject,
#email {
  background-color: var(--elements);
  width: 60%;
  height: 2.5rem;
  color: var(--p-clr);
  font-size: 1.15rem;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
}

#message {
  color: var(--p-clr);
  background-color: var(--elements);
  resize: none;
  width: 60%;
  height: 200px;
  font-size: 1.15rem;
  border-radius: 50px;
  padding: 30px 20px;
  border: none;
  font-family: "Inter", sans-serif;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: inset 0 0 10px rgba(7, 7, 7, 0.1);
}

.success {
  margin: 20px;
  font-size: 0.9rem;
  color: var(--p-clr);
  background: rgba(61, 166, 127, 0.6);
  padding: 10px 40px;
  border-radius: 10px;
}

#button {
  position: relative;

  width: 200px;
  height: 40px;
  border-radius: 18px;
  background-color: #3be9a9;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  z-index: 10;
}

#button:hover #paper-plane {
  animation: paperPlane 2.4s 1;
}

#paper-plane {
  margin-left: 10px;
  display: inline-block;
}

@keyframes paperPlane {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: translate(100px, -100px);
  }
}

.loader_icon {
  display: none;
}

.btn-txt-success {
  display: none;
}

//modal

.modal-container {
  display: none;
  // display: block;
}

#modal-contents {
  width: 40vw;
  height: 30vh;
  max-height: 100%;
  backdrop-filter: blur(9px);
  background-color: rgba(99, 99, 99, 0.555);
  z-index: 99999;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#modal-contents p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.2);
  cursor: pointer;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(83, 120, 124, 0.1);

  cursor: pointer;
}

.modal-open {
  display: block;
}

#close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  width: 200px;
  height: 40px;
  border-radius: 18px;
  background: transparent;
  outline: solid 1px white;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  margin-top: 5%;
  transition: opacity 0.6s ease;
}

#close-modal i {
  color: #fff;
  margin-right: 5px;
}

#close-modal:hover {
  opacity: 0.6;
}

#successAnimation {
  margin-bottom: 5%;
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #77e9b4;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #2eba95;
}

#successAnimationResult {
  fill: #3ae39d;
  opacity: 0;
}

#successAnimation.animated {
  -webkit-animation: 1s ease-out 0s 1 both scaleAnimation;
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#successAnimation.animated #successAnimationCircle {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationCheck {
  -webkit-animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}
#successAnimation.animated #successAnimationResult {
  -webkit-animation: 0.3s linear 0.9s both fadeIn;
  animation: 0.3s linear 0.9s both fadeIn;
}

#replay {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 3px;
  bottom: 100px;
  color: #fff;
  left: 50%;
  outline: 0;
  padding: 10px 30px;
  position: absolute;
  transform: translateX(-50%);
}
#replay:active {
  background: rgba(255, 255, 255, 0.1);
}

@-webkit-keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heading p {
  margin: 30px 0;
  font-size: 1rem;
}
