.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 200px;
  margin-bottom: 20%;
  position: relative;
  width: 60%;
  min-height: 50vh;
  // @include outline(red);
}

.contact-form {
  width: 80%;
  height: 800px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: var(--elements);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
}

form {
  width: 80%;
  height: 550px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#name,
#subject,
#email {
  background-color: var(--elements);
  width: 40%;
  height: 2.5rem;
  color: var(--p-clr);
  font-size: 1.15rem;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
}

#message {
  color: var(--p-clr);
  background-color: var(--elements);
  resize: none;
  width: 60%;
  height: 200px;
  font-size: 1.15rem;
  border-radius: 50px;
  padding: 30px 20px;
  border: none;
  font-family: "Inter", sans-serif;
}

.success {
  margin: 20px;
  font-size: 0.9rem;
  color: var(--p-clr);
  background: rgba(61, 166, 127, 0.6);
  padding: 10px 40px;
  border-radius: 10px;
}

#button {
  position: relative;

  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #3be9a9;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  z-index: 10;
}

#button:hover #paper-plane {
  animation: paperPlane 2.4s 1;
}

#paper-plane {
  margin-left: 10px;
  display: inline-block;
}

@keyframes paperPlane {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: translate(100px, -100px);
  }
}

.loader_icon {
  display: none;
}

.btn-txt-success {
  display: none;
}

.success {
  margin: 20px;
  font-size: 0.9rem;
  color: var(--p-clr);
  background: rgba(61, 166, 127, 0.6);
  padding: 10px 40px;
  border-radius: 10px;
  display: none;
}

//modal

.modal-container {
  display: none;
}

#modal-contents {
  max-width: 1160px;
  height: 400px;
  max-height: 100%;
  background-color: #3b61e9;
  z-index: 99999;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.modal-open {
  display: block;
}
