footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--elements-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
}

.footer-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 10%;
  margin: 30px 0;
  font-size: 1.5rem;
}
.footer-top a {
  color: var(--p-clr);
}

.footer-middle {
  font-size: 1rem;
  margin: 0px 0;
}
