.right {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  background: var(--slide);
  border-radius: 50%;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.12);
  transition: background 1s ease;
  margin: 0 20px;
  z-index: 1060;
}

.middle ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: var(--elements-2);
  border-radius: 40px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.13);
  transition: background 0.7s ease;
  overflow: hidden;
}

.middle ul li {
  width: 180px;
  list-style: none;
  cursor: pointer;
  z-index: 5;
}

.toggle-wrap {
  min-width: 90px;
  margin: 0 10px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-toggle {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.7s ease;
}

.dark-mode-toggle:hover {
  background-color: var(--hover-toggle);
}

.middle ul li a {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: var(--p-clr);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.5s;
}

.active {
  background: var(--h1-clr);
  @include gradient-l();
  font-weight: 700;
}

.middle ul li a:hover {
  color: var(--hover);
}

.slide {
  position: absolute;
  width: 160px;
  cursor: pointer;
  height: 50px;
  background: var(--slide);
  margin: 0 10px;
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 30px;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.middle ul li:nth-child(1).active ~ .slide {
  left: 1px;
  opacity: 1;
}
.middle ul li:nth-child(2).active ~ .slide {
  left: 177px;
  opacity: 1;
}
.middle ul li:nth-child(3).active ~ .slide {
  left: 362px;
  opacity: 1;
}
.middle ul li:nth-child(4).active ~ .slide {
  left: 541px;
  opacity: 1;
}

// Darkmode

.moon {
  background: var(--h1-clr);
  @include gradient-l();
  font-size: 1.25rem;
  display: block;
}

.darkmode .moon {
  display: none;
}

.sun {
  background: var(--h1-clr);
  @include gradient-l();
  font-size: 1.25rem;
  display: none;
}

.darkmode .sun {
  display: block;
}

.hidden {
  display: none;
  opacity: 0;
  left: 99999px;
}

.mobile-nav {
  position: absolute;
  top: 110px;
  right: auto;
  min-width: 250px;
  background: var(--slide);
  border-radius: 30px;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
  display: flex;
  align-items: flex end;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  z-index: 1045;
  transition: opacity 0.6s ease;
}
.mobile-nav ul {
  padding: 10px;
}

.mobile-nav ul li {
  list-style: none;
  padding: 5px 0;
  text-decoration: none;
}

.mobile-nav ul li a {
  font-size: 1.12rem;
  text-decoration: none;
  color: #5e5e62;
}

.mobile-nav ul li i {
  font-size: 1.12rem;
  margin: 0 10px 0 0px;
  text-decoration: none;
  color: #5e5e62;
  display: inline;
}

.mobile-nav ul li p {
  font-size: 1.12rem;

  display: inline-block;
  color: #5e5e62;
}

#mobile-nav-border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #5e5e62;
}

#mobile-nav-border button {
  margin-top: 10px;
}

.mobile-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 200vw;
  height: 100vh;

  cursor: pointer;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.5s ease-in;
}

#dark-mode-btn2 {
  transition: opacity 0.9s ease;
  font-size: 1.5rem;
}

#dark-mode-btn2 i {
  font-size: 1.5rem;
}

.slide-out {
  visibility: visible;
  transform: translateY(5px);
}

.slide-in {
  visibility: hidden;
  transform: translateY(5px);
}

// Media

// Hamburger

.toggler {
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
  z-index: 1060;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1060;
  cursor: pointer;
  opacity: 0;
}

.hamburger-1 {
  height: 40px;
  width: 40px;
  padding: 0.6rem;

  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger-1 > div {
  position: relative;
  top: 0;
  left: 0;
  background: #bcbcbc;
  border-radius: 40px;
  height: 2px;
  width: 60%;
  transition: all 0.6s ease;
}

.hamburger-1 > div::before,
.hamburger-1 > div::after {
  content: "";
  position: absolute;
  top: -10px;
  border-radius: 40px;
  background: #bcbcbc;
  width: 100%;
  height: 2px;
  transition: all 0.6s ease;
}

.hamburger-1 > div::after {
  top: 10px;
}

.toggler:checked + .hamburger-1 > div {
  background: rgba(0, 0, 0, 0);
}

.toggler:checked + .hamburger-1 > div::before {
  top: 0;
  transform: rotate(45deg);
  background: #bcbcbc;
}

.toggler:checked + .hamburger-1 > div::after {
  top: 0;
  transform: rotate(135deg);
  background: #bcbcbc;
}

.toggler:checked ~ .menu {
  width: 30%;
}

.menu > div > ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  padding-left: 10px;

  visibility: hidden;
}

.menu > div > ul > li {
  list-style: none;
  padding: 0.5rem;
}

.menu > div > ul > li > a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.toggler:checked ~ .menu > div > ul {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover {
  color: orange;
}

//<==========================MEDIA ===================================>

// <--------MAX 600-------->

@media only screen and (max-width: 600px) {
  .mobile-nav {
    position: absolute;
    top: 110px;

    right: 5%;
  }
  .middle {
    display: none;
    opacity: 0;
  }
  .right {
    min-width: 50px;
    min-height: 50px;
  }
  .moon {
    font-size: 1.35rem;
  }
  .sun {
    font-size: 1.35rem;
  }

  .right {
    display: block;
    opacity: 1;
  }
}
// <--------MAX 768-------->

@media only screen and (max-width: 768px) {
  .mobile-nav {
    position: absolute;
    top: 110px;

    right: 5%;
  }
  .middle {
    display: none;
    opacity: 0;
  }
  .right {
    min-width: 50px;
    min-height: 50px;
  }
  .moon {
    font-size: 1.35rem;
  }
  .sun {
    font-size: 1.35rem;
  }

  .right {
    display: block;
    opacity: 1;
  }
}

// <--------MAX 768-------->

@media only screen and (max-width: 992px) {
  .middle {
    display: none;
    opacity: 0;
  }

  .right {
    display: block;
    opacity: 1;
  }
  .mobile-nav {
    position: absolute;
    top: 110px;

    right: 5%;
  }
}

// @media only screen and (min-width: 992px) and (max-width: 1200px) {
//   .middle {
//     display: block;
//     opacity: 1;
//   }
//   .middle ul li {
//     max-width: 150px;
//   }

//   .slide {
//     width: 135px;
//   }

//   .middle ul li:nth-child(1).active ~ .slide {
//     left: 1px;
//     opacity: 1;
//   }
//   .middle ul li:nth-child(2).active ~ .slide {
//     left: 140px;
//     opacity: 1;
//   }
//   .middle ul li:nth-child(3).active ~ .slide {
//     left: 275px;
//     opacity: 1;
//   }
//   .middle ul li:nth-child(4).active ~ .slide {
//     left: 442px;
//     opacity: 1;
//   }
// }
