.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip::before {
  content: attr(data-tooltip);
  font-size: 0.9rem;
  position: absolute;
  text-align: center;
  margin-bottom: 15%;
  //   left: -21px;
  bottom: 100%;
  width: 80%;
  background: var(--elements-3);
  padding: 5px 10px;
  opacity: 0;
  color: var(--p-clr);
  z-index: 5;
  border-radius: 5px;
  transition: 1s opacity;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}
